.btn-movie-planet {
  color: $font-color;
  border: 1px solid $stroke-color;
  background-color: $primary;
  border-radius: 15px;
  &:focus {
    box-shadow: none;
  }
  &:disabled {
    color: $light-font-color;
    background-color: $secondary-color;
    border: 1px solid $light-font-color;
  }
  &:hover {
    color: $light-font-color;
    background-color: $secondary-color;
  }
}

.btn-movie-planet-secondary {
  color: $font-color;
  background-color: $btn-secondary-color;
  border-radius: 15px;
  &:focus {
    box-shadow: none;
  }
  &:disabled {
    color: $light-font-color;
  }
  &:hover {
    color: $light-font-color;
    background-color: $secondary-color;
  }
}
