.navbar-dark {
  color: $font-color;
  height: 80px;
  padding: 20px 110px;
  background-color: $secondary-color;
  border-bottom: 1px solid #262631;
  .navbar-nav {
    .mbl-search-icon {
      display: none;
    }

    a {
      font-size: 18px;
      &.active {
        color: $font-color;
      }
    }
  }
}

.nav-btn {
  width: 97px;
}

.secondary-text {
  color: $light-font-color;
}

@media #{$screen-sm} {
  .navbar-dark {
    flex-direction: row-reverse;
    justify-content: space-between;
    height: auto;
    padding: 10px 20px;

    .navbar-nav {
      .mbl-search-icon {
        display: block;
      }
      .search-icon {
        display: none;
      }
    }

    .navbar-brand {
      margin: auto;
    }
  }
}
