$screen-xs: screen and
  (
    max-width: 599px,
  );
$screen-sm: screen and
  (
    min-width: 600px,
  )
  and
  (
    max-width: 959px,
  );
$screen-md: screen and
  (
    min-width: 960px,
  )
  and
  (
    max-width: 1279px,
  );
$screen-lg: screen and
  (
    min-width: 1280px,
  )
  and
  (
    max-width: 1919px,
  );
$screen-xl: screen and
  (
    min-width: 1920px,
  )
  and
  (
    max-width: 5000px,
  );
$screen-lt-sm: screen and
  (
    max-width: 599px,
  );
$screen-lt-md: screen and
  (
    max-width: 959px,
  );
$screen-lt-lg: screen and
  (
    max-width: 1279px,
  );
$screen-lt-xl: screen and
  (
    max-width: 1919px,
  );
$screen-gt-xs: screen and
  (
    min-width: 600px,
  );
$screen-gt-sm: screen and
  (
    min-width: 960px,
  );
$screen-gt-md: screen and
  (
    min-width: 1280px,
  );
$screen-gt-xl: screen and
  (
    min-width: 1920px,
  );

$screen-iphone-5-h: screen and
  (
    max-height: 568px,
  );

$screen-iphone-6-8-p-h: screen and
  (
    height: 736px,
  );

$screen-iphone-x-h: screen and
  (
    height: 812px,
  );

$screen-pixel-2-xl-h: screen and
  (
    height: 823px,
  );

$screen-ipad-h: screen and
  (
    height: 1024px,
  );

$screen-ipad-pro-h: screen and
  (
    height: 1366px,
  );
